<div class="about_container">
  <div class="about_body">
    <div class="about_text">
      <h1>aboutMe()</h1>
      <p>
        I'm a Systems Analyst and FrontEnd developer, in constant learning
        process. JavaScript is my preferred language, and I am very familiar
        with Angular. Additionally, I feel comfortable working with React, HTML
        and CSS, and I use GIT for version control routinely. Since my first
        experience in an agile team, I have been an enthusiast of methodologies
        like Scrum, and tools like Trello and Jira have become an integral part
        of my daily routine. Recently, I have been dedicated to enhancing my
        knowledge in DevOps during my postgraduate studies, and I am eager to
        apply these new learnings to future projects. I am able to solve
        problems, review code, and design efficient solutions. Additionally, I
        focus on principles such as SOLID, TDD, and Clean Code to ensure that
        the code is sustainable and of high quality. I have a strong ability to
        learn and adapt to new technologies and excellent interpersonal
        communication skills. I am always seeking to update myself and evolve as
        a professional.
      </p>
    </div>
    <div class="about_buttons">
      <button>
        <div class="about_buttons-content">
          <div class="text">
            <h1>FrontEnd Developer</h1>
            <a class="link" href="#">Projects</a>
          </div>
          <div class="svg">
            <img src="../../../assets/code.svg" alt="" srcset="" />
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
