<div class="about_container">
  <div class="about_body">
    <div class="about_text">
      <h1>aboutMe()</h1>
      <p>
        I'm a Systems Analyst and FrontEnd developer, in constant learning
        process. JavaScript is my preferred language, and I am very familiar
        with Angular. Additionally, I feel comfortable working with React, HTML
        and CSS, and I use GIT for version control routinely. Since my first
        experience in an agile team, I have been an enthusiast of methodologies
        like Scrum, and tools like Trello and Jira have become an integral part
        of my daily routine. Recently, I have been dedicated to enhancing my
        knowledge in DevOps during my postgraduate studies, and I am eager to
        apply these new learnings to future projects. I am able to solve
        problems, review code, and design efficient solutions. Additionally, I
        focus on principles such as SOLID, TDD, and Clean Code to ensure that
        the code is sustainable and of high quality. I have a strong ability to
        learn and adapt to new technologies and excellent interpersonal
        communication skills. I am always seeking to update myself and evolve as
        a professional.
      </p>
    </div>
    <div class="button-links_container">
      <app-button
        width="300px"
        height="100px"
        title="FrontEnd Developer"
        subtitle_a="Projects"
        logo="assets/code.svg"
      ></app-button>
      <app-button
        width="300px"
        height="100px"
        title="My social networks"
        subtitle_a="LinkedIn"
        sublogo_a="assets/linkedin_icon.svg"
        subtitle_b="GitHub"
        sublogo_b="assets/github_icon.svg"
        link_a="https://www.linkedin.com/in/karimelinhares/"
        link_b="https://github.com/KarimeLinhares"
      ></app-button>
    </div>
  </div>
</div>
