<div class="container">
  <div class="text">
    <h1>Get In Touch</h1>
    <p>If you liked some of my work, send me a mail.</p>
    <p>Let's get Connected!</p>
  </div>
  <div class="container_body">
    <div class="form">
      <div class="info_container">
        <div class="info">
          <app-input placeholder="Name" type="text"></app-input>
          <app-input placeholder="Last Name" type="text"></app-input>
        </div>
        <div class="info">
          <app-input placeholder="Email" type="email"></app-input>
          <app-input placeholder="Phone Number" type="text"></app-input>
        </div>
      </div>
      <textarea
        class="message"
        placeholder="Message"
        cols="30"
        rows="10"
      ></textarea>
      <div class="button">
        <app-button
          class="submit"
          width="180px"
          height="60px"
          title="Submit"
          logo="assets/send.svg"
        ></app-button>
      </div>
    </div>
  </div>
</div>
