<div class="container_header">
  <div class="title_container">
    <div class="title1">
      <h1>Karime</h1>
    </div>
    <div class="title2">
      <h1>Linhares</h1>
    </div>
  </div>
  <div class="container_contacts">
    <div class="container_links">
      <img class="icons" src="../../../assets/linkedin_icon.svg" />
      <a
        class="link"
        href="https://www.linkedin.com/in/karimelinhares/"
        target="_blank"
        >LinkedIn</a
      >
    </div>
    <div class="container_links">
      <img class="icons" src="../../../assets/github_icon.svg" />
      <a class="link" href="https://github.com/KarimeLinhares" target="_blank"
        >GitHub</a
      >
    </div>
    <button>
      <div class="content">
        <img src="../../../assets/email_send.svg" />
        <h1>Contact Me</h1>
      </div>
    </button>
  </div>
</div>
