.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #212121;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.backToTop.show {
  display: block;
}
