<div class="container">
  <div class="content">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
    <div class="sub">
      <p>{{ sub }}</p>
    </div>
    <div class="tech">
      <p>Tech Stack: {{ tech }}</p>
    </div>
    <div class="links_container">
      <div class="links">
        <img class="icon" src="assets/link.svg" alt="" srcset="" />
        <a [href]="[view]" target="_blank">Preview</a>
      </div>
      <div class="links">
        <img class="icon" src="assets/git2.svg" alt="" srcset="" />
        <a [href]="[code]" target="_blank">View Code</a>
      </div>
    </div>
  </div>
</div>
