.techStack_container {
  margin: auto;
  padding-bottom: 120px;
}

.techStack_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.techStack_text {
  color: #f2f2f2;
  padding-bottom: 20px;
}

.techStack_text > h3 {
  font-size: 30px;
  font-family: "Roboto Mono";
}

.techStack_text > p {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 100;
}

.tech_row {
  width: 100%;
  background: linear-gradient(
    130deg,
    #727272 0%,
    #494949 44.03%,
    #272727 99.99%,
    #000 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 50px;
  box-shadow: 2px 4px 18px 4px rgba(0, 0, 0, 0.75);
}
