.bigCard_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-bottom: 80px;
}

.bigCard_text {
  padding: 20px;
  animation: slide-r 1s ease-out;
}

.bigCard_text > h5 {
  color: #910a67;
  font-size: 20px;
  font-family: "Roboto Mono";
}

.bigCard_text > h1 {
  font-size: 40px;
  font-family: "Roboto Mono";
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.bigCard_text > p {
  color: #f2f2f2;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
}

.bigCard_photo {
  padding: 20px;
  animation: slide-l 1s ease-out;
}

.bigCard_photo > a > img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 7px 1px 51px 38px rgba(0, 0, 0, 0.4);
  transition: transform 0.8s;
}

.bigCard_photo > a > img:hover {
  transform: scale(1.1);
}

@media (max-width: 950px) {
  .bigCard_container {
    gap: 0px;
  }
  .bigCard_text > h1 {
    font-size: 30px;
  }
  .bigCard_photo > a > img {
    width: 200px;
  }
}

@media (max-width: 560px) {
  .bigCard_text > h1 {
    font-size: 20px;
  }
  .bigCard_photo > a > img {
    width: 150px;
  }
  .bigCard_text > h5 {
    font-size: 15px;
  }
  .bigCard_text > p {
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .bigCard_text > h1 {
    font-size: 17px;
  }
}

@media (max-width: 380px) {
  .bigCard_text > h1 {
    font-size: 15px;
  }
  .bigCard_photo > a > img {
    width: 120px;
  }
  .bigCard_text > h5 {
    font-size: 12px;
  }
  .bigCard_text > p {
    font-size: 10px;
  }
}

@keyframes slide-r {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-l {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
