.container {
  background-color: #363535;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 420px;
  display: flex;
  margin: 30px;
  transition: transform 0.8s;
  border-radius: 8px;
  box-shadow: -9px 7px 27px 0px rgba(41, 41, 41, 0.75);
  text-decoration: none;
  cursor: default;
}

.container:hover {
  transform: scale(1.1);
}
