.about_buttons > button {
  border-radius: 13px;
  border: 2px solid #910a67;
  background-color: transparent;
}

.about_buttons-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.about_buttons-content > .text {
  display: flex;
  flex-direction: column;
}

.about_buttons-content > .text > h1 {
  color: #fff;
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}

.sub_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.sub-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.sub_container > .sub-items > a {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
}

.sub_container > .sub-items > a:hover {
  text-decoration: underline;
}

.svg > img {
  width: 30px;
}

.sublogo {
  width: 20px;
}

.about_buttons > button:hover {
  cursor: pointer;
  background-color: #828282;
}
