<div class="about_buttons">
  <button>
    <div class="about_buttons-content">
      <div class="text">
        <h1>{{ title }}</h1>
        <div class="sub_container">
          <div class="sub-items">
            <a class="link" href="{{ link_a }}">{{ subtitle_a }}</a>
            <img
              class="sublogo"
              [src]="[sublogo_a]"
              alt=""
              target="_blank"
              rel="noopener noreferrer"
            />
          </div>
          <div class="sub-items">
            <a class="link" [href]="[link_b]">{{ subtitle_b }}</a>
            <img
              class="sublogo"
              [src]="[sublogo_b]"
              alt=""
              target="_blank"
              rel="noopener noreferrer"
            />
          </div>
        </div>
      </div>
      <div class="svg">
        <img [src]="[logo]" alt="" srcset="" />
      </div>
    </div>
  </button>
</div>
