/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    130deg,
    #000 0%,
    #272727 44.03%,
    #494949 99.99%,
    #727272 100%
  );
}
